<div id="wrapper" style="text-align:center">
    <h1><%=I18n.t("scan_qrcode")%></h1>
    <br>
    <div width="100%" height="auto">
        <video id="video"></video>
    </div>
</div>

<script id="zxingScript" type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
<script type="text/javascript">

function decodeOnce(codeReader, selectedDeviceId) {
    codeReader.decodeFromInputVideoDevice(selectedDeviceId, "video").then((result) => {
        document.location.href = result.text;
    })
    .catch((err) => {
        console.error(err)
    })
}

var qrCodeTriggered = false;

function openQrCodeReader() {
    if (qrCodeTriggered || !("ZXing" in window))
        return;
    qrCodeTriggered = true;

    let selectedDeviceId;
    const codeReader = new ZXing.BrowserQRCodeReader()

    codeReader.getVideoInputDevices().then((videoInputDevices) => {
        selectedDeviceId = videoInputDevices[0].deviceId
        decodeOnce(codeReader, selectedDeviceId);
    })
    .catch((err) => {
        console.error(err)
    })
}

document.getElementById("zxingScript").addEventListener("load", openQrCodeReader)
document.addEventListener("turbo:load", openQrCodeReader)

</script>