<div id="wrapper" style="text-align:center">
    <h1><%=I18n.t("scan_qrcode")%></h1>
    <br>
    <div width="100%" height="auto">
        <video id="video"></video>
    </div>
</div>

<script id="zxingScript" type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
<script type="text/javascript">

var qrCodeTriggered = false;
var codeReader;

function openQrCodeReader() {
    if (qrCodeTriggered || !("ZXing" in window))
        return;
    qrCodeTriggered = true;

    codeReader = new ZXing.BrowserQRCodeReader()

    codeReader.decodeFromInputVideoDevice(undefined, "video").then((result) => {
        document.location.href = result.text;
    })
    .catch((err) => {
        console.error(err)
    })
}

function closeQrCodeReader() {
    codeReader.reset();
}

document.getElementById("zxingScript").addEventListener("load", openQrCodeReader)
document.addEventListener("turbo:load", openQrCodeReader)
document.addEventListener("turbo:render", closeQrCodeReader)

</script>