<h1><%= t('analytics.headline') %></h1>
<div class="mx-auto btn btn-primary">
    <%= link_to t('analytics.history.headline'), analytics_history_borrowed_from_me_path, class: "text-decoration-none text-white"%>
</div>

