<div class="row gx-3 flex-nowrap overflow-auto text-center">
  <% @group.viewable_items.each do |item| %>
  <div class="col-12 col-md-3">
    <%= render "items/item_card", item: item %>
  </div>
  <% end %>
  <% if @group.viewable_items.empty? %>
  <div class="fs-6">
    <%= t(:group_no_items) %>
  </div>
  <% end %>
</div>
