<div class="<%= "alert border border-2 #{@bootstrap_classes}" %> m-0" style="text-align: center">
    <h6 class='alert-heading mb-1'>
        <%= @heading %>
    </h6>
    <p class="mb-0 mx-3" style="font-size: 12px">
        <%= @body %>
    </p>
</div>