<div class="row">
    <%# owner / can_manage%>
    <% owner_groups = Group.owner_groups(@item.id) %>
    <p class="card-text">
        <%= I18n.t("items.card_text.owner") %>
        <span class="text-primary"><%=owner_groups.map(&:name).join(", ").html_safe%></span>
    </p>
</div>