<h3>Hallo <%= @user.full_name %>,</h3>
<p><%= @message_de %></p>
<p>Danke,<br/>
  Ihr automatisches E-Mail System.</p>
<p>Bookkeeper Red</p>
----------------------------------
<h3>Hi <%= @user.full_name %>,</h3>
<p><%= @message_en %></p>
<p>Thanks,<br/>
  Your automatic email system.</p>
<p>Bookkeeper Red</p>