<%# Remove <br> (and maybe padding classes in container?) when we have global spacing under navbar %>
<br>
<div class="container pt-5 pb-5">

  <%= render @group %>

  <div>
    <%= link_to "Edit this group", edit_group_path(@group) %> |
    <%= link_to "Back to groups", groups_path %>
  </div>
</div>
