<%= stylesheet_link_tag "sign-in.css" %>

<table class="text-center sign-in-form w-100 m-auto">
  <tbody>
    <tr class="sign-in-header">
      <td><%= image_tag "logo-hpi-color.png", alt: "HPI Logo" %></td>
    </tr>
    <tr>
      <td class="sign-in-links">
        <%= render "devise/shared/links" %>
        <p><%= I18n.t("devise.sessions.new.info-text") %></p>
      </td>
    </tr>
  </tbody>
</table>
