<%# The main show page for large screens %>
<div class="large-screen">
  <div class="container">
    <div class="row">
      <%# Image card, contains attributes if screen is big enough %>
      <div class="col-xl-6 p-3">
        <div class="card h-100">
          <%# Image slider%>
          <%= image_tag "dummy_image.png", class: "card-img-top"%>
          <div class="card-body ">
            <%# Attributes if small enough arranged as grid%>
            <div class="imagecard-attributes">
              <table class="table">
                <tbody>
                <tr>
                  <td>Spieler: 5</td>
                </tr>
                <tr>
                  <td>Alter: 12+</td>
                </tr>
                <tr>
                  <td>Typ: Brettspiel+</td>
                </tr>
                <tr>
                  <td>Jahr: 2014+</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <%# Description Card%>
      <%# Name and Description card, contains attributes if screen is small enough %>
      <div class="col-xl-6 p-3">
        <div class="card h-100">
          <%# Attributes if screen is small enough%>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <%# name%>
                <h1 class="col-sm-7"><%= @item.name %></h1>
                <%# available badge%>
                <div class="col-sm-2 ms-auto">
                  <span class="badge bg-secondary bg-success ">Available</span>
                </div>
              </div>
              <div class="row">
                <%# owner%>
                <p class="card-text">
                  von:
                  <span class="text-warning">Ownername</span>
                </p>
              </div>
            </div>
            <%# Description%>
            <p class="card-text"><%= @item.description %></p>

          </div>
          <%# Button %>
          <div class="d-flex justify-content-center w-100 mb-5">
            <button class="mx-auto btn btn-primary "> Reservieren</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>