<div class="mb-2">
  <%= form.label :category, I18n.t("items.form.other.category"), class: "form-label" %>
  <%= form.text_field :category, class: "form-control" %>
</div>

<div class="mt-3">
  <%= form.button :submit , name: "item_type", value: "other", class: "btn btn-primary" %>
</div>