<h1><%=I18n.t("items.form.edit")%></h1>

<%= render "items/item_type_form", item: @item %>

<br>

<div>
  <%= link_to I18n.t("items.buttons.show"), @item %> |
  <%= link_to I18n.t("items.buttons.back"), items_path %>
</div>
