$primary: #e2681e;
@import "bootstrap";
// Bootstrap icons: https://icons.getbootstrap.com/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.imagecard-attributes {
  display: none;
}
@include media-breakpoint-up(xl) {
  .imagecard-attributes {
    display: block;
  }
}

.descriptioncard-attributes {
  display: block;
}
@include media-breakpoint-up(xl) {
  .descriptioncard-attributes {
    display: none;
  }
}