$primary: #e2681e;
@import "bootstrap";
// Bootstrap icons: https://icons.getbootstrap.com/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.large-screen {
  display: none;
}

.small-screen {
  display: block;
}
@include media-breakpoint-up(xl) {
  .small-screen {
    display: none;
  }
  .large-screen {
    display: block;
  }
}