<footer class="text-center text-lg-start text-muted bg-primary">
  <section class="d-flex justify-content-center justify-content-lg-between p-4">
    <div class="text-center p-4">
      <%= image_tag "logo-large.svg", height: 100 %>
    </div>
  </section>
</footer>